[submodule "mods/player_api"]
	path = mods/player_api
	url = https://github.com/minetest-game/player_api
[submodule "mods/autobox"]
	path = mods/autobox
	url = https://github.com/exevirus/autobox.git
